/* *{
    scroll-behavior: smooth;
} */
body{
    margin-left: 30px;
}
#carouselExampleControls img{
 width: 90%;
 height: 500px;
}
#shop_by_category{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
#shop_by_category a{
    color: rgba(0, 0, 0, 0.557);
    text-align: center;
    
}
#category-container{
    display: flex;
    flex-wrap: wrap;
    gap:40px 180px;
    margin-left: 80px;
}
.category{
    border: 2px solid black;
    width:250px;
}
#heading{
    text-align: center;
}
#latest-product{
    background-color: whitesmoke;
    margin-top: 54px;
}
#latest-product h1{
    margin-top: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.557);
}
#products{
    display: flex;
    flex-wrap: wrap;
   
    gap: 30px 0;
    margin-left: 15px;
    margin-bottom: 20px;
}
#product{
    background-color: white;
}
#product-card{
   
    border: 2px solid black;
    text-align: center;
    box-sizing: border-box;
    margin-left: 50px;
    justify-content: space-evenly;
    gap:40px;
   
    /* padding: 20px 0 0 15px;
    height: auto; */
    
    
}
#products img{
    display: block;
    
}
#feature{
    background-color: rgb(55, 209, 209);
    height: 270px;
}
#feature h1{
    color: black;
    text-align: center;
    text-decoration: underline;
}
#feature-boxes{
    display: flex;
    box-shadow: dimgrey;
    color: white;
    margin: 20px 15px 20px 15px;
}
.box{
     border: solid 1px;
    text-align: center;
    gap: 20px;
}
.price{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.category{
    display: flex;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.col{
    gap: 20px;
}
#btn{
    margin-top: 15px;
    background-color: #0562c5;
    color: white;
    border-radius: 5px;
    border: 2px solid;
}
#title{
    margin-left: 60px;
}
span{
    color: blue;
}
li{
    color: black;
}
a:hover{
    text-decoration: none;
}
span{
    color: black;
}
 
#cart{
     background: linear-gradient(
        to right,
        #9fc5ff 0%,
        #c3ccff 50%,
        #e3c8ff 100%);
}
.add-to-cart{
    height: 50px;
    width: 50px;
}
td{
    justify-content: space-evenly;
}
.error{
    color: red;
}
#submitbtn{
    background-color: #0562c5;
    color: white;
}
.about-us-img{
    height: 200px;
    width: 250px;
    border-radius: 50%;
}
.product-img{
    height: 450px;
    width: 450px;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
}
#call-img{
    height: 87px;
    width: ;
}